.item {
  text-transform: uppercase;

  padding: 10px 15px;
}

@media (max-width: 1200px) {
  .item {
    font-size: 14px;

    padding: 8px 12px;
  }
}

@media (max-width: 992px) {
  .item {
    font-size: 12px;

    padding: 6px 10px;
  }
}

@media (max-width: 360px) {
  .item {
    font-size: 10px;
  }
}
