.item {
  padding: 10px 15px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .item {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .item {
    padding: 6px 10px;
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .item {
    font-size: 10px;
  }
}
