*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--default-background);

  color: var(--default-color);

  font-family: Montserrat, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;

  cursor: pointer;
}

path {
  fill: var(--primary-color);
}
