.locationList {
  display: flex;
  max-height: 206px;
  flex-direction: column;

  padding-right: 12px;

  overflow-y: scroll;

  row-gap: 10px;
}

.locationList::-webkit-scrollbar {
  width: 6px;
}

.locationList::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: var(--item-color);
}

.locationList::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--primary-color);
}

@media (max-width: 1200px) {
  .locationList {
    max-height: 196px;
  }
}

@media (max-width: 768px) {
  .locationList {
    max-height: 172px;

    padding-right: 8px;

    row-gap: 6px;
  }
}
