.locationDetails {
  position: relative;

  width: 494px;
  height: 666px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  background: url('../../assets/images/background.png') no-repeat center / cover;
  border-radius: 35px;

  padding: 48px 32px 84px;
}

.locationDetails::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  content: '';

  background:
    linear-gradient(
      152.19deg,
      rgba(136, 235, 239, 90%) -0.04%,
      rgba(83, 91, 230, 90%) 100%
    );

  border-radius: 35px;
}

@media (max-width: 1200px) {
  .locationDetails {
    width: 394px;
    height: 566px;

    padding-top: 38px;
    padding-bottom: 64px;
  }
}

@media (max-width: 992px) {
  .locationDetails {
    width: 344px;
    height: 480px;
  }
}

@media (max-width: 768px) {
  .locationDetails {
    width: 100%;
    max-width: 420px;
    height: 240px;

    flex-direction: row;
    align-items: flex-start;

    border-radius: 25px 25px 0 0;

    padding-top: 28px;
    padding-bottom: 44px;
  }

  .locationDetails::before {
    border-radius: 25px 25px 0 0;
  }
}

@media (max-width: 480px) {
  .locationDetails {
    height: 160px;

    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (max-width: 360px) {
  .locationDetails {
    padding-right: 25px;
    padding-left: 25px;
  }
}
