.weatherContainer {
  --offset: 10px;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateX(calc(var(--offset) * -0.5));
}

.weatherContainer > div:first-child {
  transform: translateX(var(--offset));
}

.error {
  font-size: 46px;
  color: var(--error-color);

  margin: auto;
}

.loader {
  margin: auto;
}

@media (max-width: 768px) {
  .weatherContainer {
    flex-direction: column;

    transform: translate(0, 0);
  }

  .weatherContainer > div:first-child {
    transform: translate(0, 0);
  }
}
