.notFound {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--overlay-color);

  row-gap: 40px;
}

.text {
  font-size: 50px;
  font-weight: 700;
}

.errorText {
  color: var(--error-color);
}
